.products-section {
  margin: 2rem;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.product-card {
  border: 1px solid rgb(214, 154, 91);
  border-radius: 0.5rem;
  width: 30%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.product-image-container {
  position: relative;
  width: 100%;
  height: 300px; /* You can adjust this based on your image size */
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-stock {
  font-size: 1rem;
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #f3d8b9f7;
  border: none;
  color: rgb(249, 247, 244);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.add-to-cart .cart-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.product-details {
  padding: 10px;
  border: 1px solid rgb(214, 154, 91);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: rgb(138, 85, 35);
  color: white;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-info > div {
  margin: 3px 0;
}
